@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.card{
  background-image: linear-gradient(rgb(35, 43, 111), white);
}
.card-icon{
  background-image: linear-gradient(rgb(124, 110, 128), rgb(20, 80, 123) );
}
.card-button{
  background-image: linear-gradient((rgb(85 172 238) ), rgb(7, 28, 54) );
  margin: 0 auto;
  padding: 0.4rem 4rem; 
  border-radius: 10px;
}

