@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:linear-gradient( rgb(65, 82, 93), black, rgb(51, 56, 60))
}
.card{
  background-image: linear-gradient( rgb(3, 29, 52), rgb(25, 61, 86));
}
.card-icon{
  background-image: linear-gradient(rgb(124, 110, 128), rgb(20, 80, 123) );
}
.card-button{
  background-image: linear-gradient(black, rgb(2, 40, 73));
  margin: 0 auto;
  padding: 0.4rem 4rem; 
  border-radius: 10px;
}

